.inputItems{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.experience-item {
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
}

.expContents{
  color: black;
}

.expValue{
  color: black;
}

body{
  background-color: beige;
}

.addBtn{
  border: solid 1px black;
}